*{
    background-color: #F4F5FF;
    box-sizing: border-box;
    margin: 0;
}

header{
    padding: 0 5%;
    height: 3.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
}
.nav_bar{

}