* {
    box-sizing: border-box;
    margin: 0;
    /* outline: 1px solid red; */
}

html, body {
    width: 100%;
    min-height: 100%;
    background-color: var(--bg-colour);
    overflow-x: hidden;
}


/* custom variables for light mode customization */
:root[data-theme="light"] {
    --bg-colour: #F4F5FF;
    --logo-colour1: #0D196B;
    --logo-colour2: #618EFF;

    --switch-bg: var(--logo-colour2);
    --switch-circle-bg: white;
    --switch-circle-pos: 0.22rem;
    --icon-colour: var(--logo-colour2);
}

/* custom variables for dark mode customization */
:root[data-theme="dark"] {
    --bg-colour: #040404;
    --logo-colour1: #FFFFFF;
    --logo-colour2: #618EFF;

    --switch-bg: var(--logo-colour2);
    --switch-circle-bg: white;
    --switch-circle-pos: 3.22rem;
    --icon-colour: var(--logo-colour2);
}

:root {
    --default-transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out, fill .3s ease-in-out, transform .3s ease-in-out
}

/* header content */
header {
    padding: 0 5%;
    height: 5.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--bg-colour);
    justify-content: space-between;
}
.logo-navbar {
    width: 200px;
    height: auto;
    position: relative;
    margin-top: -15px;
    visibility: hidden;
}

/* logo changes when switching modes */
#logo-navbar-dark {
    transition: opacity 0.3s ease;
}

#logo-navbar-light {
    display: none;
    transition: opacity 0.3s ease;
}

[data-theme="light"] #logo-navbar-dark {
    display: none;
}

[data-theme="light"] #logo-navbar-light {
    display: block;
}

.nav-bar {
    display: flex;
    gap: 0.8rem;
}

#mode-switch {
    background-color: var(--switch-bg);
    ;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
    padding: 0.66rem;
    position: relative;
    transform: var(--default-transition);
}

#mode-switch::before {
    content: "";
    position: absolute;
    width: 1.8rem;
    height: 1.8rem;
    background-color: var(--switch-circle-bg);
    border-radius: 50px;
    left: 0;
    transform: translateX(var(--switch-circle-pos));
    transition: transform 0.45s ease;
}

body,
h1,
.hero,
header,
.begin-button {
    transition: background-color 0.45s ease, color 0.45s ease;
}

.placeholder {
    height: 15px;
    width: 15px;
    background-color: var(--switch-bg);
    border-radius: 50%;
    display: inline-block;
}

/* /* Hero section content  */

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero {
    /* width: 100%;
    min-height: 568px;
    height: calc(100vh - 4rem);
    background-color: var(--bg-colour); */
        width: 100%;
    min-height: 100vh; /* Ensures it's at least full screen */
    background-color: var(--bg-colour);
    display: flex;
    flex-direction: column;
}

.hero-content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.hero-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: -10%;
    z-index: 5;
}

h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--logo-colour1);
    font-weight: 350;
    margin-top: 0.5rem;
    font-size: 1.5rem;
}

.begin-button {
    margin-top: 4.5rem;
    font-family: 'Fredoka', sans-serif;
    background: linear-gradient(to right, var(--logo-colour1), var(--logo-colour2));
    font-size: 25px;
    border: none;
    font-weight: 570;
    color: white;
    width: 120px;
    height: 50px;
    border-radius: 50px;
    letter-spacing: 0.3px;
    cursor: pointer;
}

.begin-button:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 10px #9aceff;
}

/* logo changes when switching modes */
.logo.light {
    width: 636px;
    transition: opacity 0.3s ease;
}

.logo.dark {
    display: none;
    width: 636px;
    transition: opacity 0.3s ease;
}

[data-theme="dark"] .logo.light {
    display: none;
}

[data-theme="dark"] .logo.dark {
    display: block;
}


#particles-js {
    /* z-index: 2;
    position: absolute; */
        position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none; /* so clicks pass through */
}

/* questions */
#question-container {
    width: 55%;
    /* height: 100%; */
    padding: 10px;
    background-color: transparent;
    z-index: 6;
}

h2 {
    color: var(--logo-colour2);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.0rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    margin: 4rem 0 2.5rem 0;
}

.controls:hover {
    cursor: pointer;
}

.multiple-choice {
    display: grid;
    gap: 20px;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    height: 100%;
}

.mc-btn {
    background-color: #ffffff;
    width: 100%;
    /* stretches to fill the grid cell */
    min-height: 120px;
    /* height scales better */
    padding: 1rem;
    border: none;
    border-radius: 25px;
    font-size: 1.2rem;
    font-weight: 500;
    transition: all 0.2s ease;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    flex: 1 1 auto;   

}

.mc-btn:hover {
    background-color: #f0f0f0;
    cursor: pointer;
    transform: scale(1.02);
}

p {
    font-size: 0.9rem;
    font-weight: 350;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 5px;
}

h3 {
    font-weight: 650;
    font-size: 1.3rem;
    font-family: 'Fredoka', sans-serif;
    color: var(--logo-colour2);

}


.checkbox {
    display: flex;
    justify-content: center;
    gap: 8rem;
    height: 50px;
}


.radio-group {
    display: flex;
    gap: 2rem;
}


.custom-radio input[type="radio"] {
    display: none;
}


.custom-radio {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}


.custom-radio .custom-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    background-color: white;
    border: 2px var(--logo-colour2);
    border-radius: 4px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}


.custom-radio input[type="radio"]:checked+.custom-box {
    background-color: #2b3ea8;
    border-color: #3721b6;
}

h4 {
    margin-left: 30px;
    align-items: center;
    color: var(--logo-colour2);
    font-size: 30px;
    font-family: 'Fredoka';
}

.slider-container {
    width: 100%;
    max-width: 500px;
    margin: 2rem auto;
    font-family: system-ui, sans-serif;
}

.slider-labels {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    color: #aaa;
    font-size: 0.95rem;
}

input[type="range"] {
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, white, var(--logo-colour2));
    border-radius: 5px;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: white;
    border: 7px solid #2b85a8;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: white;
    border: 7px solid #2b85a8;
    cursor: pointer;
}

.slider-value {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    color: var(--logo-colour1);
}

.slider-labels {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--logo-colour1);
    font-weight: 550;
    font-size: 1.2rem;
}

.slider-value {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--logo-colour1);
    font-weight: 700;
    font-size: 1.7rem;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background: transparent;
}

/* --- Chrome / Safari --- */
input[type="range"]::-webkit-slider-runnable-track {
    height: 15px;
    background: linear-gradient(to right, white, var(--logo-colour2));
    border-radius: 5px;
    border: none;
}

.submit {
    align-items: center;
    display: flex;
    justify-content: center;
}

.hero-content{
    display: none;
}
 
   #question1 {
    /* display: none;  */
    margin-top: -10%;
 }    
 /* .controls {
    display: none;
}    */ 

 #question2 {
    display: none;
    margin-top: -10%;
} 

#question3 {
    display: none;
    margin-top: -10%;
}

#question4 {
    display: none;
    margin-top: -10%;
}

#question5 {
    display: none;
    margin-top: -10%;
}

#question6 {
    display: none;
    margin-top: -10%;
} 

/* laptop and desktop styles*/
@media (min-width: 1200px) and (max-width:1600px) {
    .logo.light {
        width: 550px;
        transition: opacity 0.3s ease;
    }

    .logo.dark {
        display: none;
        width: 550px;
        transition: opacity 0.3s ease;
    }

    h1 {
        font-size: 1.3rem;
    }

    .begin-button {
        width: 100px;
        height: 40px;
        font-size: 22px;
    }

    .nav-bar {
        transform: scale(0.75);
    }

    #question-container {
        transform: scale(0.85);
        width: 80%;
    }

    .controls {
        transform: scale(0.85);
    }

}








/* small tablets, lanscape phones */
@media (min-width: 620px) {}

/* large tablet & small laptop styles */
@media (min-width: 768px) {}