*{
    box-sizing: border-box;
    margin: 0;
}

header{
    padding: 0 5%;
    height: 3.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
}
#hero{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero_content img{
      max-width: 100%;     /* Image won't exceed its container */
  height: auto;        /* Maintain aspect ratio */
  display: block;      /* Removes bottom spacing */
  margin: 0 auto;      /* Center horizontally */
}

.hero{
    width: 100%;
    height: calc(100vh - 3.5rem);
    min-height: 450px;
    background-color: #F4F5FF;
}

.hero_content{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: -10%;
}
h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #0D196B;
    font-weight: 350;
    margin-top: 0.5rem;
    font-size: clamp(0rem, 5vw, 1.5rem);
}
.begin_button{
margin-top: 4.5rem;
    font-family: 'Fredoka', sans-serif;
    background: linear-gradient(to right, #0D196B, #618EFF);
    font-size: 25px;
    border: none;
    font-weight: 570;
    color: white;
    width: 120px;
    height: 50px;
    border-radius: 50px;
    letter-spacing: 0.3px;
}

@media (max-width: 600px) {
  /* Styles for small screens */
  .container {
    padding: 10px;
    flex-direction: column;
  }
}